@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/Segoe UI.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/Segoe UI Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
*, ::after, ::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0 auto;
  color: #ffffff;
  font-size: 1.6rem;
  font-family: "Segoe UI", sans-serif;
  background-color: #131316;
  overflow-x: hidden;
  padding-bottom: 2.6rem;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(19, 19, 22, 0)), to(#131316)), url(../img/background.png) center/cover no-repeat;
  background: linear-gradient(180deg, rgba(19, 19, 22, 0) 0%, #131316 100%), url(../img/background.png) center/cover no-repeat;
  width: 100rem;
  height: 66rem;
  z-index: -1;
}

img {
  height: auto;
  display: block;
}

h1, h2, h3, h4 {
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
}

p {
  text-transform: none;
}

ul, ol {
  list-style: none;
}

.container {
  width: 620px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.radius {
  border-radius: 4px;
}

.btn-gradient {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  background: linear-gradient(87.23deg, rgba(128, 26, 179, 0) -91.42%, #4C4CFF 99.79%);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  border: none;
}

.logo {
  position: relative;
}
.logo:before {
  content: "";
  position: absolute;
  top: 28px;
  left: 62px;
  width: 24px;
  height: 23px;
  background: linear-gradient(87.23deg, rgba(128, 26, 179, 0) -91.42%, #4C4CFF 99.79%);
  border: none;
  border-radius: 50%;
  z-index: -1;
}

.title {
  font-size: 32px;
  line-height: 43px;
  text-align: center;
}

.main-header {
  padding-top: 2rem;
  margin-bottom: 4.7rem;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-nav__button {
  padding: 9.5px 9.125px;
}

.price {
  color: #131316;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
.price-old {
  font-size: 16px;
  line-height: 21px;
  position: relative;
  color: #D9D9D9;
}
.price-old::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #D9D9D9;
  bottom: 7.2px;
  left: 0px;
  z-index: 1;
}

.goods {
  margin-bottom: 5rem;
}
.goods__title {
  margin-bottom: 2rem;
}
.goods__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}
.goods__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(255, 255, 255, 0.95);
  text-align: center;
  padding: 0px 10px 10px;
}
.goods__item_one, .goods__item_two, .goods__item_three {
  width: 32.259%;
}
.goods__item_four, .goods__item_five {
  width: 49.194%;
}
.goods__item_one img {
  padding-top: 3.1rem;
  margin-bottom: 3.4rem;
}
.goods__item_two img, .goods__item_three img {
  padding-top: 2rem;
  margin-bottom: 2.5rem;
}
.goods__item_four img {
  padding-top: 1.8rem;
  margin-bottom: 2.1rem;
}
.goods__item_five img {
  padding-top: 0.2rem;
  margin-bottom: 0.1rem;
}
.goods__info {
  font-size: 16px;
  line-height: 21px;
  width: 91%;
  color: #131316;
  margin-bottom: 1rem;
}
.goods__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin-bottom: 1rem;
}
.goods__button {
  width: 100%;
  padding: 9.5px 0;
}

.promo {
  margin-bottom: 6rem;
}
.promo__title {
  margin-bottom: 2rem;
}
.promo__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 3rem 0px 3.5rem 0px;
}
.promo__rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
.promo__rate-item:not(:last-child) img {
  margin-right: 8px;
}
.promo__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.8rem;
  padding-right: 6.5rem;
}
.promo__card_left, .promo__card_right {
  width: 43.5%;
}
.promo__card_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #131316;
}
.promo__card-subtitle {
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 5px;
}
.promo__card-info {
  font-size: 13px;
  line-height: 17px;
  margin-bottom: 2rem;
}
.promo__card-prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}
.promo__card-price, .promo__card-price_discount {
  font-size: 16px;
  line-height: 21px;
}
.promo__card-price_discount {
  color: #ffffff;
  font-weight: 700;
  background-color: #FF0000;
  padding: 1.5px 10.63px;
}
.promo__discount-info {
  width: 100%;
}
.promo__discount-info td {
  font-size: 13px;
  line-height: 17px;
  padding: 5.61px 0px;
}
.promo__discount-info span {
  text-transform: uppercase;
}
.promo__discount-info_economy {
  font-weight: 700;
  color: #FF0000;
}
.promo__promocode {
  font-size: 16px;
  line-height: 21px;
  display: inline;
  border: 1px dashed #131316;
  color: #131316;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto 1rem;
  padding: 18.7px 79.05px;
}
.promo__button {
  display: inline;
  margin: 0 auto;
  padding: 19.5px 96.4px;
}

.main-footer {
  text-align: center;
}
.main-footer__subtitle {
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 2rem;
}
.main-footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 38%;
  margin: 0 auto 3rem;
}
.main-footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.contacts__txt {
  font-size: 13px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.5);
}
.contacts__link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}
.contacts__link_phone {
  text-decoration: none;
}

@media (max-width: 991px) {
  .container {
    width: 720px;
  }

  html {
    font-size: 61%;
  }

  body::before {
    width: 80rem;
  }
}
@media (max-width: 767px) {
  .container {
    width: 540px;
  }

  html {
    font-size: 60%;
  }

  body::before {
    width: 65rem;
  }

  .goods__list {
    gap: 30px;
  }

  .goods__item_one,
  .goods__item_two,
  .goods__item_four,
  .goods__item_five {
    width: 45.194%;
  }

  .goods__item_three {
    width: 100%;
  }

  .goods__item_three img,
  .goods__item_four img,
  .goods__item_five img,
  .promo__img {
    width: 230px;
  }
}
@media (max-width: 575px) {
  .container {
    width: 100%;
  }

  html {
    font-size: 50%;
  }

  body::before {
    width: 40rem;
  }

  .btn-gradient {
    font-size: 11px;
  }

  .goods__item {
    width: 75%;
    margin: 0 auto;
  }

  .main-nav,
  .main-footer {
    width: 80%;
    margin: 0 auto;
  }

  .main-nav__button {
    padding: 2px;
  }

  .promo {
    width: 80%;
    margin: 0 auto 30px;
  }
  .promo__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: unset;
  }
  .promo__card-info {
    text-align: center;
  }
  .promo__card_left, .promo__card_right {
    width: 90%;
  }
  .promo__card_right {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .promo__img {
    width: 210px;
    margin: 0 auto;
  }
  .promo__promocode, .promo__button {
    padding: 10px;
    width: 60%;
    text-align: center;
  }

  .main-footer__icons {
    width: 75%;
  }
  .main-footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contacts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
}

/*# sourceMappingURL=style.css.map */